[project]
name = "microvault"
dynamic = ["version"]
description = "A simple navigation with reinforcement learning"
keywords = ["RL", "navigation", "deep learning"]

authors = [{name = "Nicolas Alan", email = "grottimeireles@gmail.com"}]
readme = "README.md"
license = {file = "LICENSE"}
maintainers = [
  {name = "Nicolas Alan", email = "grottimeireles@gmail.com"}
]

requires-python = ">= 3.8"

dependencies = [
  "tdqm",
]

[tool.poetry]
name = "microvault"
version = "0.1.0"
description = "MicroVault - RL for Navigation"
authors = ["Nicolasalan <nicolasalangrotti03@gmail.com>"]
license = "LiCENSE"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
