[tool.poetry]
name = "rnl"
version = "0.3.3"
description = "RNL - Robot Navigation Learning"
authors = ["Nicolasalan <grottimeireles@gmail.com>"]
license = "LICENSE"
readme = "README.md"
packages = [{ include = "rnl" }]

[tool.poetry.urls]
documentation = "https://rnl.readthedocs.io"
bugs = "https://github.com/microvault/rnl/issues"

[tool.poetry.dependencies]
python = ">=3.9"
accelerate = "^0.34.2"
dill = "^0.3.9"
fastrand = ">=1.3,<3.0"
gymnasium = ">=0.28.1,<0.30.0"
matplotlib = "^3.9.2"
numpy = ">=1.24.2,<3.0.0"
torch = "^2.0.1"
pymunk = "^6.6.0"
scikit-image = "*"
tqdm = "^4.65.0"
numba = ">=0.59.1,<0.61.0"
shapely = ">=1.8,<3.0"
wandb = "0.18.3"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0.0"
pytest-cov = ">=4.1,<6.0"
black = "^24.1.1"
isort = "^5.13.2"
ruff = ">=0.2.1,<0.7.0"
codespell = "^2.2.6"
commitizen = "^3.29.1"
pre-commit = "^3.7.0"

# [tool.poetry.group.doc.dependencies]
# furo = "2024.4.27"
# sphinx = "7.3.7"
# sphinx-toolbox = "3.5.0"
# sphinx-notfound-page = "1.0.0"

[tool.pytest.ini_options]
pythonpath = "."

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
